#product-ingredients {
  background: radial-gradient(40% 50%, #44006e83, #f3e2fdc1); /* Градиент */
  color: #333333;
  text-align: center;
}

.product-details {
  margin: auto;
  gap: 20px;
}

.ingredients-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 30%;
}

.ingredient:last-child {
  margin-bottom: 0;
}

.ingredient-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.ingredient-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-photo {
  margin: auto;
}

.product-details {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.ingredient-details h3 {
  font-size: 1.1em;
}


/* Media Queries for Responsive Design */

@media (max-width: 1024px) {
  .ingredients-column {
      width: 45%;
      margin-bottom: 40px;
  }
  .product-photo {
      width: 100%;
      /* margin-bottom: 40px; */

  }
}

@media (max-width: 768px) {
  .product-details {
      flex-direction: column;
      align-items: center;
  }
  .ingredients-column {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start; /* Выровнять элементы по верху */
      margin-bottom: 0;
  }
  .ingredient {
      width: 30%;
      align-items: flex-start; /* Выровнять элементы по верху */
      /* margin-bottom: 30px; */
  }

  .product-photo img {
    width: 70%
  }
}

@media (max-width: 480px) {

  .section-title {
    font-size: 0.8em;
  }

  .ingredients-column {
    flex-direction: row;
    /* justify-content: space-around; */
    /* align-items: center; */
    gap: 20px; /* Устанавливаем промежуток между элементами */
  }

  .product-photo img {

  }
  .ingredient {
    width: 45%; /* Ширина элемента для 480px экрана */
    /* margin-bottom: 0; Убираем отступ снизу */
  }
  .ingredient-icon {
    width: 60px; /* Уменьшаем размер иконок для компактного отображения */
    height: 60px;
  }
  .ingredient-details h3 {
    font-size: 0.9em; /* Уменьшаем размер заголовка */
  }
}

@media (max-width: 320px) {
  .ingredients-column {
    gap: 10px;
  }

  .ingredient {
    width: 100%;
    margin-bottom: 20px;
  }
  .ingredient-icon {
    width: 50px;
    height: 50px;
  }
  .ingredient-details h3 {
    font-size: 0.8em;
  }
}
