#promo4 {
  background: radial-gradient(40% 50%, #44006e83, #f3e2fdc1); /* Градиент */
  color: white;
  text-align: center;
}

#promo4 .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

#promo4 .left-side,
#promo4 .right-side {
  width: 100%;
}

#promo4 .right-side {
  text-align: left;
  margin: auto;
  background-color: rgba(243, 226, 253, 0.507);
  padding: 20px;
  color: #333333;
  border: #44006e83 1px solid;
  border-radius: 10px;
}

#promo4 .description {
  font-size: 1.2em;
  margin-bottom: 20px;
}

#promo4 .product-features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#promo4 .product-features li {
  font-size: 1.2em;
  margin: 0 20px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.547);
  color: #333333;
  border: #44006e83 1px solid;
  border-radius: 10px;
}


@media (max-width: 1024px) {
  #promo4 .left-side,
  #promo4 .right-side {
    width: 45%;
  }
}

@media (max-width: 980px) {
  #promo4 .left-side img {
    width: 90%;
  }

}

@media (max-width: 768px) {
  #promo4 .content-wrapper {
    flex-direction: column;
  }

  #promo4 .left-side,
  #promo4 .right-side {
    width: 100%;
  }

  #promo4 .left-side img {
    width: 70%;
  }

  #promo4 .right-side {
    margin-top: 20px;
  }

  #promo4 .product-features {
    flex-direction: column;
    align-items: center;
  }

  #promo4 .product-features li {
    margin: 10px 0;
    width: 80%;
  }
}

@media (max-width: 480px) {
  #promo4 .right-side {
    padding: 15px;
  }

  #promo4 .description {
    font-size: 1em;
  }

  #promo4 .product-features li {
    font-size: 1em;
  }
}

@media (max-width: 320px) {
  #promo4 .description {
    font-size: 0.9em;
  }

  #promo4 .product-features li {
    font-size: 0.9em;
    padding: 8px 16px;
  }
}
